#first{
    width: 100vh;
}
#second{
    border: thick solid rgb(12, 5, 5);
    border-style: dashed solid;
    border-width: 50px;
    color: transparent;
    width: 150%;
    height: 60vh;
    font-size: 100px;
    background-image: url(multimedial/fire.gif);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    padding: 100px;
    -webkit-background-clip: text;
}